<% provide :title, t("static_pages.help") %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t(".into_html",
    r_help: link_to(t("rails_help"),"http://www.railstutorial.org/help"),
    r_book: link_to(t("rails_tutorial"),"http://www.railstutorial.org/book"))
  %>
</p>
